.content {
  @media screen and (max-width: 900px) {
    margin-left: 3vw;
    width: auto;
  }
  @media screen and (min-width: 900px) {
    margin-left: 5vw;
    width: 70%;
  }
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 64px 16px;
  min-height: 400px;
  background-color: var(--bg-post);
  padding: 0 0 2vh 1vw;
  .title {
    text-transform: capitalize;
    margin-left: 4vw;
    padding-top: 3vh;
    &::before {
      content: "# ";
    }
  }
  .body-content {
    .body {
      padding: 2vh 1vw 1vh 1vw;
      margin: 1vw;
      text-indent: 2vw;
    }
  }
}
