footer {
  position: relative;
  align-items: center;
  min-height: 36vh;
  background: var(--bg);
  .inner {
    top: 3vh;
    position: relative;
    min-height: 30vh;
    margin: 0 10vw;
    background: #eeeeee;
    padding: 3vh 3vw 0 3vw;
    border-radius: 32px 32px 0 0;
    background: var(--bg-main);
    text-align: center;
    box-shadow: inset -10px -10px 20px 0px rgb(0 0 0 / 20%),
      10px 10px 20px 0px rgb(0 0 0 / 10%);
    > p {
      font-weight: 700;
      margin: 1vh 0;
    }
    .img-warper {
      position: absolute;
      max-height: 90%;
      bottom: 0;
      right: 5vw;
      opacity: 80%;
    }
  }
  .status {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }
}
