header {
  display: flex;
  background: var(--primary);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;

    ul {
      display: flex;
      list-style: none;
      margin: 0;
    }
    a {
      color: var(--text-color-normal);
      padding: 10px;
      text-decoration: none;
      cursor: pointer;
      transition: 0.27s ease;
      &:hover,
      &:focus {
        filter: brightness(0.95);
        color: var(--text-color-light);
      }
    }
    li {
      padding-right: 2rem;
    }
    h2 {
      padding: 1rem 5vw;
      -webkit-text-decoration: none;
      text-decoration: none;
      cursor: pointer;
      -webkit-transition: 0.27s ease;
      transition: 0.27s ease;
      font-size: 2rem;
      font-family: "Pacifico", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    }
  }
}

