@media screen and (min-width: 900px) {
  .pa-content {
    position: sticky;
    float: left;
    margin-left: 1vw;
    justify-content: center;
    .pagination {
      flex-direction: column;
      display: flex;
      border-radius: 10px;
      background: var(--bg-to-right);
      height: 20vh;
      width: 3vw;
      justify-content: space-around;
    }

    .pagination__item {
      display: flex;
      justify-content: center;
    }
  }
}
